{% extends 'home/base.html'  %}

{% block content %}

    <div id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2 class="heading">About Me</h2>
                </div>
                <div class="col-md-8">
                    <p>
                      I’m a Full Stack Web Developer [currently] based in Utah. I love open source technology and building cool things with it. When i’m not developing you can often find me working on improving dev ops practices to develop faster. Python is currently my favorite language and Debian my favorite OS. I subsist on a diet of Electronic Music, Pretzels and Water (mostly joking).

                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- End #about -->

    <div id="experience" class="background-alt">
        <h2 class="heading">Experience</h2>
        <div id="experience-timeline">
            <div data-date="June 2015 – Present">
                <h3>Bluehost</h3>
                <h4>Developer in Test</h4>
                <p>
                    Designed and implemented selenium based tests for customer facing products. Implemented back end automation using Perl and Python. Managed enterprise level git repositories. Implemented image regression testing using ruby and wraith.
                </p>
            </div>

            <div data-date="April 2016 - Present">
                <h3>Freelance</h3>
                <h4>Web Developer</h4>
                <ul>
                  <p>
                    Worked mainly in vanilla front end technologies with Django and Python on the backend. Designed and built customer facing solutions for a variety of small to medium sized businesses including storefronts, blogging platforms, and contact automation. Implemented and educated on open source tools to increase business productivity.
                  </p>
                </ul>
            </div>

        </div>
    </div>
    <!-- End #experience -->

    <div id="skills">
        <h2 class="heading">Skills</h2>
        <ul>
            <li>Python</li>
            <li>JavaScript</li>
            <li>Ruby</li>
            <li>Sass</li>
            <li>Selenium</li>
            <li>Node.js</li>
            <li>AngularJs</li>
            <li>Jenkins</li>
            <li>Linux</li>
            <li>C++</li>
            <li>Continuous Integration/Deployment</li>
        </ul>
    </div>

    <div id="education">
        <h2 class="heading">Education</h2>
        <div class="education-block">
            <h3>Utah Valley University</h3>
            <span class="education-date">2015 - Present</span>
            <h4>Computer Science</h4>
            <ul>
                <li>
                  Object Oriented Design in C++
                </li>
                <li>
                  Algorithms and Data Structures
                </li>
            </ul>
        </div>
        <!-- End .education-block -->

        <div class="education-block">
            <h3>Brigham Young University - Idaho</h3>
            <span class="education-date">2012</span>
            <h4>Computer Science</h4>
            <ul>
                <li>
                    Studied functional programming in C++.
                </li>
            </ul>
        </div>
        <!-- End .education-block -->
    </div>
    <!-- End #education -->



<style>
  li.about a{
	border-bottom: 2px solid #2f79ef;
}
</style>
{% endblock %}
