<!DOCTYPE html>
{% load staticfiles %}
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nate</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/hint.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="{% static 'js/clipboard.min.js' %}"></script>
    <link href="https://fonts.googleapis.com/css?family=Pattaya|Source+Code+Pro|Play|Julius+Sans+One" rel="stylesheet">
</head>
<body>
	<h1 class="top-menu"><a href="/">nate</a></h1>
    <ul class="top-menu">
        <li><a href="/"> Home</a> </li>
        <li><a href="/about"> About </a></li>
        <li><a href="/contact"> Contact </a></li>
        <li><a href="/portfolio"> Portfolio </a></li>
        <li><a href="/blog"> Blog </a> </li>
      </ul>
	  <p class="spacer"></p>

    {% block content %}
    {% endblock %}





</body>

</html>
