{% extends 'home/base.html' %}

{% block content %}
<div class="aligner page-header">
    <h1 class="aligner-item"><a href="/">I like to code</a></h1>
    <p id="email-id" class="aligner-item email-home hint--top-left hint--bounce" aria-label="Copy" data-clipboard-text="natejmeyers@gmail.com">natejmeyers@gmail.com</p>
    <p>Need a web developing, open source loving, linux admin(ing) person? You found one!</p>

</div>


    <!-- 3. Instantiate clipboard by passing a string selector -->
    <script>
        var clipboard = new Clipboard('.email');
        clipboard.on('success', function(e) {
            var cp = document.getElementById("email-id");
            cp.className += " hint--success ";
        });
        clipboard.on('error', function(e) {
            console.log(e);
        });
    </script>
<style>
  li.home a{
	border-bottom: 2px solid #2f79ef;
}
</style>

{% endblock %}
